@keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .pan-left {
    animation: bg-pan-left 8s infinite alternate both;
  }